
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Salsa', cursive;
    font-size: 25px;
}

header{
    height: 100vh;
    width: 100vw;
}

.nav-bar ul li{
    display: inline-block;
    padding: 8px;
}

.nav-bar{
    text-align: right;
    margin-right: 20px;
    background-color: aliceblue;
    width: 100%;

}

.nav-bar ul li a{
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}

.shop-container{
    border: 2px solid red;
    height: 90%;
    width: 85%;
    margin: auto auto;
    background-image: url(images/donut_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: 0.899;
}


.shop-name{
    font-size: 50px;
    margin-top: 170px;
    margin-left: 100px;
}

.tag-line{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.section-title{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    color: chocolate;
}

.about-section{
    height: 100vh;
    width: 100vw;
}

.about-container{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.left-box{
    width: 45%;
    height: 200px;
    text-align: justify;
    font-weight: bold;
}

p{
    margin-top: 25px;
    color:maroon;
}

.about-p1{
    margin-top: 50px;
}

.right-box{
    width: 45%;
    margin-left: 6%;
    margin-top: 50px;
}

.top-row, .bottom-row{
    display: flex;
    flex-direction: row;
}

.top-row-1, .top-row-2{
    width: 50%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.top-row-1{
    background-image: url(images/donut1.jpg);
}

.top-row-2{
    background-image: url(images/donut2.jpg);
}

.bottom-row-1, .bottom-row-2{
    width: 50%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.bottom-row-1{
    background-image: url(images/donut3.jpg);
}

.bottom-row-2{
    background-image: url(images/donut4.jpg);
}

.image{
    transition: .4s;
    margin: 1rem;
    border-radius: 10px;
    opacity: 0.899;
}

.image:hover{
    transform: scale(1.03);
    cursor: pointer;
    opacity: 1;
}

.donuts-section{
        height: 100vh;
        width: 100vw;
}

.donut-row-1, .donut-row-2{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
}

.donut-row-1, .donut-row-2{
    margin-top: 1%;
}

.donut-1, .donut-2, .donut-3, .donut-4, .donut-5,.donut-6{
    width: 50%;
    height: 320px;
    background-size: cover;
    background-position: center;
}

.donut-1{
    background-image: url(images/types/d1.jpg);
}

.donut-2{
    background-image: url(images/types/d2.jpg);
}

.donut-3{
    background-image: url(images/types/d3.jpg);
}

.donut-4{
    background-image: url(images/types/d4.jpg);
}

.donut-5{
    background-image: url(images/types/d5.jpg);
}

.donut-6{
    background-image: url(images/types/d6.jpg);
}

.store-container{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 240px;
    margin: auto;
}

.store-1, .store-2, .store-3{
    margin: 25px;
    width: 45%;
    height: 250px;
    color: red;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.store-1-name{
    font-size: 30px;
}

.contact-section{
    width: 100vw;
    height: 50vh;
    background-color: rgb(207, 19, 107);
}   

.contact-section-title{
    color: #FFFFDD;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
    padding-top: 25px;
}

.email{
    color: #FFFFDD;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    color: #FFFFDD;
}

.facebook, .twitter{
    margin-left: 20px;
}

.copyright-info{
    margin-top: 10px;
    color: #FFFFDD;
    text-align: center;
    font-size: 20px;
}





